body_{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #9d9d9f, #b1b1b4, #fafbfb);
}
.main{
	width: 350px;
	height: 500px;
	margin-top: 150px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.error {
    color: red;
}
.signup{
	/* position: absolute; */
	width:100%;
	height: 100%;
}
label{
	color: #101010;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
.login{
	height: 460px;
	background: #fdfdfd;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label1{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label1{
	transform: scale(1);	
}
#chk:checked ~ .signup label1{
	transform: scale(.6);
} 
.social_login {
	display: block;
	margin-bottom: 150px;
}

.google_login {
	display: block;
	float: left;
	
}

.google_title {
	text-align: center;
	color: rgb(13, 11, 11);
	font-size: 15px;
}

.google_img {
	/* display: inline-block;*/
	/* align-items: center; */
	padding: 2em;
	margin-left: 88px;
	margin-top: 10px;
	height: 60px;
	width: 70px;
	border-style: none;
	/* border-radius: 3px; */
	background-image: url(../img/Google.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.github_login {
	display: block;
	float: right;
	margin-right: 100px;
}

.github_title {
	text-align: center;
	color: rgb(38, 35, 35);
	font-size: 15px;
}

.github_img {
	/* display: inline-block; */
	align-items: center;
	padding: 2em;
	height: 60px;
	width: 70px;
	background-image: url(../img/GitHub.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#forget_pass {
	color: rgb(26, 24, 24);
	margin-top: 5px;
}

/* Forget password */

.forget_html {
	display: block;
	width: 100%;
	text-align: center;
	border-radius: 3px;
}

.forget {
	display: block;
	width: 300px;
	height: 200px;
	margin: auto;
	text-align: center;
	border-style: solid;
	border-width: 3px;
	border-color: #333;
	border-radius: 3px;
}

.email_recover {
	display: block;
	margin-top: 20px;
	font-family: 'Verdana', sans-serif;
	color: #333;
	font-size: 18px;
	font-weight: 800;
}

#email_forg {
	text-align: center;
	width: 200px;
}

#button_recover {
	display: block;
	margin: auto;
	margin-top: 10px;
	line-height: normal;
	font-size: 10px;
	text-align: center;
	font-family: 'Verdana', sans-serif;
	font-weight: 600;
	padding: 0.4em 0em 0.4em 0em;
	width: 120px;
	box-sizing: border-box;
	border-radius: 10px;
	border: solid 2px #333;
	color: #333;
	background-color: #14f332;
}

#button_recover:hover {
	background: rgb(192, 192, 192);
}

#error_email_forg { 
	color: red;
	font-family: arial;
	font-size: 15px;
	font-style: italic;
}
#forget_pass{
	font-size: small;
	height: 20px;
}
.foot-lnk{
	height: 102px;
	margin-top: -32px;
}

/* Recover password */

.recover_html {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 100px;
}


.recover {
	display: block;
	width: 300px;
	height: 350px;
	margin: auto;
	text-align: center;
	border-style: solid;
	border-width: 3px;
	border-color: #333;
}

.password_recover, .password_recover_2 {
	display: block;
	margin-top: 20px;
	font-family: 'Verdana', sans-serif;
	color: #333;
	font-size: 18px;
	font-weight: 800;
}

#pass_rec, #pass_rec_2 {
	text-align: center;
	width: 200px;
	color: #000;
}

#button_set_pass {
	display: block;
	margin: auto;
	margin-top: 20px;
	line-height: normal;
	font-size: 10px;
	text-align: center;
	font-family: 'Verdana', sans-serif;
	font-weight: 600;
	padding: 0.4em 0em 0.4em 0em;
	width: 150px;
	box-sizing: border-box;
	border-radius: 10px;
	border: solid 2px #333;
	color: #333;
	background-color: #2ff407;
}

#button_set_pass:hover {
	background: rgb(192, 192, 192);
}

#error_password_rec, #error_password_rec_2 { 
	color: red;
	font-family: arial;
	font-size: 15px;
	font-style: italic;
}