<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <![endif]-->
        <!-- Jquery  -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <title>home</title>
        <!-- CUSTOM STYLE CSS -->
        <link href="<?php echo CSS_PATH ?>style.css" rel="stylesheet" /> 
        <!-- BOOTSTRAP CORE STYLE CSS -->
        <link href="<?php echo CSS_PATH ?>bootstrap.css" rel="stylesheet" />
        <!-- FONTAWESOME STYLE CSS -->
        <link href="<?php echo CSS_PATH ?>font-awesome.min.css" rel="stylesheet" />
        <!-- PRETTYPHOTO STYLE CSS -->
        <link href="<?php echo CSS_PATH ?>prettyPhoto.css" rel="stylesheet" />
        <link href="<?php echo CSS_PATH ?>Home_cards.css" rel="stylesheet" />
        <!-- JS -->
        <script src="<?php echo SITE_PATH ?>view/js/utils.js"></script>
        <script src="<?php echo JS_VIEW_HOME ?>controller_home.js"></script>
        <!-- ACTIVITY -->
        <script src="<?php echo SITE_PATH ?>view/js/activity_user.js"></script>
        <!-- search -->
        <script src="<?php echo SITE_PATH ?>module/search/view/js/search.js"></script>
        <script src="<?php echo JS_PATH_ASSETS ?>custom.js"></script>
        <script src="<?php echo JS_VIEW_CART ?>cart.js"></script>
        <link href="<?php echo CSS_PATH ?>style_cart.css" rel="stylesheet" type="text/css" />


        


        <!-- GOOGLE FONT -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
        <!-- GLIDER -->
        <script src="<?php echo GLIDER_PATH ?>glider.js"></script>
        <link href="<?php echo GLIDER_PATH ?>glider.css" rel="stylesheet" type="text/css" />
        <!-- <script src="view/glider/glider.js"></script>
        <link rel="stylesheet" type="text/css" href="view/glider/glider.css"> -->

        <!-- TOASTER -->
        <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" type="text/css"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
