<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Contact</title>
    <!-- CUSTOM STYLE CSS -->
    <link href="<?php echo CSS_PATH ?>style.css" rel="stylesheet" /> 
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="<?php echo CSS_PATH ?>bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="<?php echo CSS_PATH ?>font-awesome.min.css" rel="stylesheet" />
    <!-- PRETTYPHOTO STYLE CSS -->
    <link href="<?php echo CSS_PATH ?>prettyPhoto.css" rel="stylesheet" />
    

       
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
   
       <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet" />
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- TOASTER -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" type="text/css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <meta charset="utf-8">
    <title>Cotxesnet.net</title>
    <!-- SEND MAIL -->
    <script src="<?php echo JS_VIEW_CONTACT ?>contact_list.js"></script>
    <script src="<?php echo SITE_PATH ?>view/js/utils.js"></script>
    <!-- ACTIVITY -->
    <script src="<?php echo SITE_PATH ?>view/js/activity_user.js"></script>


        <!-- search -->
         <!-- <script src="module/search/model/ctrl_search.js"></script> -->
</head>

<body>